<launch>
  <arg name="pub_mode" default="false"/>
  <arg name="model_file" default="$(find husky_description)/husky_coop/coop_transport_scene.xml"/>

  <group ns="coop_scene">
    <node name="mujoco_ros" pkg="mujoco_ros" type="mujoco_ros" required="true" respawn="false" output="screen">
      <param name="license" type="string" value="$(env HOME)/.mujoco/mjkey.txt"/>
      <param name="pub_mode" value="$(arg pub_mode)"/>
      <param name="model_file" type="string" value="$(arg model_file)"/>
    </node>
  </group>
</launch>
