<launch>
  <arg name="model_file" default="$(find husky_description)/husky_coop/coop_transport_scene_lift_support_on_generated.xml"/>
  <arg name="scenario" default="straight"/>
  <arg name="duration" default="3.0"/>
  <arg name="rate" default="10.0"/>
  <arg name="command_rate" default="25.0"/>
  <arg name="speed" default="0.0"/>
  <arg name="yaw_rate" default="0.0"/>
  <arg name="sim_start_delay" default="1.0"/>
  <arg name="merger_start_delay" default="2.0"/>

  <arg name="scene_log_output" default="/tmp/mm_verify_logs/grasp_lift_scene.csv"/>
  <arg name="reference_log_output" default="/tmp/mm_verify_logs/grasp_lift_reference.csv"/>
  <arg name="leader_controller_log_output" default="/tmp/mm_verify_logs/grasp_lift_leader.csv"/>
  <arg name="follower_controller_log_output" default="/tmp/mm_verify_logs/grasp_lift_follower.csv"/>

  <arg name="force_limit" default="12.0"/>
  <arg name="k_forward" default="8.0"/>
  <arg name="k_turn" default="12.0"/>
  <arg name="k_lateral_turn" default="3.0"/>
  <arg name="yaw_align_threshold" default="0.35"/>
  <arg name="kp_arm" default="4.0"/>
  <arg name="kd_arm" default="0.8"/>
  <arg name="arm_torque_limit" default="80.0"/>
  <arg name="use_pinocchio_gravity" default="true"/>
  <arg name="gravity_scale" default="1.0"/>
  <arg name="ramp_gravity_with_lift" default="false"/>
  <arg name="ee_z_force" default="28.0"/>
  <arg name="use_object_z_lift_control" default="true"/>
  <arg name="object_lift_height" default="0.05"/>
  <arg name="object_lift_kp" default="180.0"/>
  <arg name="object_lift_kd" default="8.0"/>
  <arg name="object_lift_force_min" default="0.0"/>
  <arg name="object_lift_force_max" default="45.0"/>
  <arg name="use_jacobian_lift_target" default="true"/>
  <arg name="jacobian_lift_gain" default="0.8"/>
  <arg name="jacobian_lift_damping" default="0.05"/>
  <arg name="jacobian_lift_max_delta" default="0.35"/>
  <arg name="finger_command" default="-1.0"/>
  <arg name="finger_command_limit" default="3.0"/>
  <arg name="lift_enabled" default="true"/>
  <arg name="lift_start_delay" default="0.6"/>
  <arg name="lift_duration" default="1.2"/>
  <arg name="leader_lift_joint_delta" default="0 0 0 0 0 0 0"/>
  <arg name="follower_lift_joint_delta" default="0 0 0 0 0 0 0"/>

  <include file="$(find kimm_phri_panda_husky)/launch/coop_transport_verify.launch">
    <arg name="model_file" value="$(arg model_file)"/>
    <arg name="scenario" value="$(arg scenario)"/>
    <arg name="duration" value="$(arg duration)"/>
    <arg name="rate" value="$(arg rate)"/>
    <arg name="speed" value="$(arg speed)"/>
    <arg name="yaw_rate" value="$(arg yaw_rate)"/>
    <arg name="sim_start_delay" value="$(arg sim_start_delay)"/>
    <arg name="scene_log_output" value="$(arg scene_log_output)"/>
    <arg name="reference_log_output" value="$(arg reference_log_output)"/>
  </include>

  <node name="leader_grasp_lift_controller"
        pkg="kimm_phri_panda_husky" type="leader_base_only_controller.py" output="screen">
    <param name="rate" value="$(arg command_rate)"/>
    <param name="duration" value="$(arg duration)"/>
    <param name="output" value="$(arg leader_controller_log_output)"/>
    <param name="force_limit" value="$(arg force_limit)"/>
    <param name="k_forward" value="$(arg k_forward)"/>
    <param name="k_turn" value="$(arg k_turn)"/>
    <param name="k_lateral_turn" value="$(arg k_lateral_turn)"/>
    <param name="yaw_align_threshold" value="$(arg yaw_align_threshold)"/>
    <param name="kp_arm" value="$(arg kp_arm)"/>
    <param name="kd_arm" value="$(arg kd_arm)"/>
    <param name="arm_torque_limit" value="$(arg arm_torque_limit)"/>
    <param name="use_pinocchio_gravity" value="$(arg use_pinocchio_gravity)"/>
    <param name="gravity_scale" value="$(arg gravity_scale)"/>
    <param name="ramp_gravity_with_lift" value="$(arg ramp_gravity_with_lift)"/>
    <param name="ee_z_force" value="$(arg ee_z_force)"/>
    <param name="use_object_z_lift_control" value="$(arg use_object_z_lift_control)"/>
    <param name="object_lift_height" value="$(arg object_lift_height)"/>
    <param name="object_lift_kp" value="$(arg object_lift_kp)"/>
    <param name="object_lift_kd" value="$(arg object_lift_kd)"/>
    <param name="object_lift_force_min" value="$(arg object_lift_force_min)"/>
    <param name="object_lift_force_max" value="$(arg object_lift_force_max)"/>
    <param name="use_jacobian_lift_target" value="$(arg use_jacobian_lift_target)"/>
    <param name="jacobian_lift_gain" value="$(arg jacobian_lift_gain)"/>
    <param name="jacobian_lift_damping" value="$(arg jacobian_lift_damping)"/>
    <param name="jacobian_lift_max_delta" value="$(arg jacobian_lift_max_delta)"/>
    <param name="finger_command" value="$(arg finger_command)"/>
    <param name="finger_command_limit" value="$(arg finger_command_limit)"/>
    <param name="lift_enabled" value="$(arg lift_enabled)"/>
    <param name="lift_start_delay" value="$(arg lift_start_delay)"/>
    <param name="lift_duration" value="$(arg lift_duration)"/>
    <param name="lift_joint_delta" value="$(arg leader_lift_joint_delta)"/>
  </node>

  <node name="follower_grasp_lift_controller"
        pkg="kimm_phri_panda_husky" type="follower_base_only_separated_controller.py" output="screen">
    <param name="rate" value="$(arg command_rate)"/>
    <param name="duration" value="$(arg duration)"/>
    <param name="output" value="$(arg follower_controller_log_output)"/>
    <param name="force_limit" value="$(arg force_limit)"/>
    <param name="k_forward" value="$(arg k_forward)"/>
    <param name="k_turn" value="$(arg k_turn)"/>
    <param name="k_lateral_turn" value="$(arg k_lateral_turn)"/>
    <param name="yaw_align_threshold" value="$(arg yaw_align_threshold)"/>
    <param name="kp_arm" value="$(arg kp_arm)"/>
    <param name="kd_arm" value="$(arg kd_arm)"/>
    <param name="arm_torque_limit" value="$(arg arm_torque_limit)"/>
    <param name="use_pinocchio_gravity" value="$(arg use_pinocchio_gravity)"/>
    <param name="gravity_scale" value="$(arg gravity_scale)"/>
    <param name="ramp_gravity_with_lift" value="$(arg ramp_gravity_with_lift)"/>
    <param name="ee_z_force" value="$(arg ee_z_force)"/>
    <param name="use_object_z_lift_control" value="$(arg use_object_z_lift_control)"/>
    <param name="object_lift_height" value="$(arg object_lift_height)"/>
    <param name="object_lift_kp" value="$(arg object_lift_kp)"/>
    <param name="object_lift_kd" value="$(arg object_lift_kd)"/>
    <param name="object_lift_force_min" value="$(arg object_lift_force_min)"/>
    <param name="object_lift_force_max" value="$(arg object_lift_force_max)"/>
    <param name="use_jacobian_lift_target" value="$(arg use_jacobian_lift_target)"/>
    <param name="jacobian_lift_gain" value="$(arg jacobian_lift_gain)"/>
    <param name="jacobian_lift_damping" value="$(arg jacobian_lift_damping)"/>
    <param name="jacobian_lift_max_delta" value="$(arg jacobian_lift_max_delta)"/>
    <param name="finger_command" value="$(arg finger_command)"/>
    <param name="finger_command_limit" value="$(arg finger_command_limit)"/>
    <param name="lift_enabled" value="$(arg lift_enabled)"/>
    <param name="lift_start_delay" value="$(arg lift_start_delay)"/>
    <param name="lift_duration" value="$(arg lift_duration)"/>
    <param name="lift_joint_delta" value="$(arg follower_lift_joint_delta)"/>
  </node>

  <node name="dual_joint_set_merger"
        pkg="kimm_phri_panda_husky" type="dual_joint_set_merger.py" output="screen">
    <param name="rate" value="$(arg command_rate)"/>
    <param name="timeout" value="0.5"/>
    <param name="start_delay" value="$(arg merger_start_delay)"/>
  </node>
</launch>
