<launch>
  <arg name="start_scene" default="true"/>
  <arg name="start_reference" default="true"/>
  <arg name="enable_scene_logger" default="true"/>
  <arg name="enable_reference_logger" default="true"/>
  <arg name="reference_require_actual" default="false"/>
  <arg name="auto_start_sim" default="true"/>
  <arg name="sim_start_delay" default="1.0"/>
  <arg name="model_file" default="$(find husky_description)/husky_coop/coop_transport_scene.xml"/>

  <arg name="scenario" default="straight"/>
  <arg name="rate" default="20.0"/>
  <arg name="duration" default="5.0"/>
  <arg name="loop" default="true"/>
  <arg name="speed" default="0.05"/>
  <arg name="yaw_rate" default="0.15"/>
  <arg name="side" default="right"/>
  <arg name="x0" default="-6.97847080614"/>
  <arg name="y0" default="0.906062745397"/>
  <arg name="yaw0" default="0.209653109842"/>
  <arg name="ee_offset_x" default="0.674273491215"/>
  <arg name="ee_offset_y" default="-0.169270419552"/>
  <arg name="ee_offset_z" default="0.978612691343"/>
  <arg name="object_offset_x" default="0.384374480338"/>
  <arg name="object_offset_y" default="-0.968306440951"/>
  <arg name="object_offset_z" default="0.978612691343"/>
  <arg name="follower_lateral_distance" default="0.837313239545"/>
  <arg name="follower_base_backoff" default="0.700822840293"/>
  <arg name="follower_ee_forward_offset" default="-0.289899010877"/>
  <arg name="follower_ee_lateral_distance" default="0.799036021399"/>
  <arg name="follower_preferred_arm_reach" default="0.412702739239"/>
  <arg name="follower_max_arm_reach" default="1.2"/>
  <arg name="follower_formation_distance" default="1.833139927859"/>

  <arg name="scene_log_output" default="/tmp/mm_verify_logs/coop_scene_state.csv"/>
  <arg name="reference_log_output" default="/tmp/mm_verify_logs/coop_reference_metrics.csv"/>

  <include if="$(arg start_scene)" file="$(find kimm_phri_panda_husky)/launch/coop_transport_scene.launch">
    <arg name="model_file" value="$(arg model_file)"/>
  </include>

  <node if="$(arg auto_start_sim)" name="coop_sim_run_once"
        pkg="kimm_phri_panda_husky" type="coop_sim_run_once.py" output="screen">
    <param name="delay" value="$(arg sim_start_delay)"/>
  </node>

  <include if="$(arg start_reference)" file="$(find kimm_phri_panda_husky)/launch/leader_follower_reference.launch">
    <arg name="scenario" value="$(arg scenario)"/>
    <arg name="rate" value="$(arg rate)"/>
    <arg name="duration" value="$(arg duration)"/>
    <arg name="loop" value="$(arg loop)"/>
    <arg name="speed" value="$(arg speed)"/>
    <arg name="yaw_rate" value="$(arg yaw_rate)"/>
    <arg name="x0" value="$(arg x0)"/>
    <arg name="y0" value="$(arg y0)"/>
    <arg name="yaw0" value="$(arg yaw0)"/>
    <arg name="ee_offset_x" value="$(arg ee_offset_x)"/>
    <arg name="ee_offset_y" value="$(arg ee_offset_y)"/>
    <arg name="ee_offset_z" value="$(arg ee_offset_z)"/>
    <arg name="object_offset_x" value="$(arg object_offset_x)"/>
    <arg name="object_offset_y" value="$(arg object_offset_y)"/>
    <arg name="object_offset_z" value="$(arg object_offset_z)"/>
    <arg name="side" value="$(arg side)"/>
    <arg name="publish_only_when_ready" value="false"/>
    <arg name="enable_logger" value="$(arg enable_reference_logger)"/>
    <arg name="logger_duration" value="$(arg duration)"/>
    <arg name="logger_output" value="$(arg reference_log_output)"/>
    <arg name="logger_require_actual" value="$(arg reference_require_actual)"/>
    <arg name="lateral_distance" value="$(arg follower_lateral_distance)"/>
    <arg name="base_backoff" value="$(arg follower_base_backoff)"/>
    <arg name="ee_forward_offset" value="$(arg follower_ee_forward_offset)"/>
    <arg name="ee_lateral_distance" value="$(arg follower_ee_lateral_distance)"/>
    <arg name="preferred_arm_reach" value="$(arg follower_preferred_arm_reach)"/>
    <arg name="max_arm_reach" value="$(arg follower_max_arm_reach)"/>
    <arg name="formation_distance" value="$(arg follower_formation_distance)"/>
  </include>

  <node if="$(arg enable_scene_logger)" name="coop_scene_state_logger"
        pkg="kimm_phri_panda_husky" type="coop_scene_state_logger.py" output="screen">
    <param name="rate" value="$(arg rate)"/>
    <param name="duration" value="$(arg duration)"/>
    <param name="output" value="$(arg scene_log_output)"/>
  </node>
</launch>
