<launch>
  <arg name="scenario" default="straight"/>
  <arg name="rate" default="50.0"/>
  <arg name="duration" default="10.0"/>
  <arg name="loop" default="true"/>
  <arg name="speed" default="0.05"/>
  <arg name="yaw_rate" default="0.15"/>
  <arg name="x0" default="0.0"/>
  <arg name="y0" default="0.0"/>
  <arg name="yaw0" default="0.0"/>
  <arg name="ee_offset_x" default="0.6"/>
  <arg name="ee_offset_y" default="0.0"/>
  <arg name="ee_offset_z" default="0.9"/>
  <arg name="object_offset_x" default="0.3"/>
  <arg name="object_offset_y" default="0.0"/>
  <arg name="object_offset_z" default="0.9"/>
  <arg name="side" default="right"/>
  <arg name="lateral_distance" default="1.2"/>
  <arg name="base_backoff" default="0.35"/>
  <arg name="ee_forward_offset" default="0.0"/>
  <arg name="ee_lateral_distance" default="0.6"/>
  <arg name="preferred_arm_reach" default="0.75"/>
  <arg name="max_arm_reach" default="1.1"/>
  <arg name="formation_distance" default="-1.0"/>
  <arg name="publish_only_when_ready" default="true"/>
  <arg name="enable_logger" default="false"/>
  <arg name="logger_duration" default="10.0"/>
  <arg name="logger_output" default="/tmp/mm_verify_logs/coop_reference_metrics.csv"/>
  <arg name="logger_require_actual" default="true"/>

  <node name="leader_motion_player" pkg="kimm_phri_panda_husky" type="leader_motion_player.py" output="screen">
    <param name="scenario" value="$(arg scenario)"/>
    <param name="rate" value="$(arg rate)"/>
    <param name="duration" value="$(arg duration)"/>
    <param name="loop" value="$(arg loop)"/>
    <param name="speed" value="$(arg speed)"/>
    <param name="yaw_rate" value="$(arg yaw_rate)"/>
    <param name="x0" value="$(arg x0)"/>
    <param name="y0" value="$(arg y0)"/>
    <param name="yaw0" value="$(arg yaw0)"/>
    <param name="ee_offset_x" value="$(arg ee_offset_x)"/>
    <param name="ee_offset_y" value="$(arg ee_offset_y)"/>
    <param name="ee_offset_z" value="$(arg ee_offset_z)"/>
    <param name="object_offset_x" value="$(arg object_offset_x)"/>
    <param name="object_offset_y" value="$(arg object_offset_y)"/>
    <param name="object_offset_z" value="$(arg object_offset_z)"/>
  </node>

  <node name="follower_coop_planner" pkg="kimm_phri_panda_husky" type="follower_coop_planner.py" output="screen">
    <param name="rate" value="$(arg rate)"/>
    <param name="side" value="$(arg side)"/>
    <param name="publish_only_when_ready" value="$(arg publish_only_when_ready)"/>
    <param name="lateral_distance" value="$(arg lateral_distance)"/>
    <param name="base_backoff" value="$(arg base_backoff)"/>
    <param name="ee_forward_offset" value="$(arg ee_forward_offset)"/>
    <param name="ee_lateral_distance" value="$(arg ee_lateral_distance)"/>
    <param name="preferred_arm_reach" value="$(arg preferred_arm_reach)"/>
    <param name="max_arm_reach" value="$(arg max_arm_reach)"/>
    <param name="formation_distance" value="$(arg formation_distance)"/>
  </node>

  <node if="$(arg enable_logger)" name="coop_reference_logger" pkg="kimm_phri_panda_husky" type="coop_reference_logger.py" output="screen">
    <param name="rate" value="$(arg rate)"/>
    <param name="duration" value="$(arg logger_duration)"/>
    <param name="output" value="$(arg logger_output)"/>
    <param name="require_actual" value="$(arg logger_require_actual)"/>
  </node>
</launch>
